
body{
    background-color:#8D0042;
}
.container {
  width:1080px;
  margin:0px auto;
  font-size:1.2em;
  font-family: Arial black;
  font-size: 15px;
  background-color: #EDD693;
  padding:30px;
  height: auto;
}
header {
 display: block;
  text-align:center;
  /**border: 1px solid #666;**/
  background: #8D0042;
  
}
a {
  color: #333;
  text-decoration: none;
}
section,aside {
  height: auto;
  margin: auto;
  padding: 10px;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
section {
  background: #EDD693;
  border: 1px solid #ccc;
  font-family:arial black;
}
aside {
  float: right;
  width: 25%;
  background:#ccc;
  color: #333;
}
nav {
  padding:0.2%;
  background:#8D0042;
  margin-top: 0.5%;
}
nav ul {
  list-style-type:none;
  padding:0px;
/*   width: 100%;
 display: table;*/
  text-align: center;
  
}
nav ul li {
  display: inline;
  
}
nav ul li:hover {
  background-color: #8D0042;
  text-decoration: underline;
}
nav ul li a {
    width:170px;
    height:170px;
 display:block;
 text-align:center;
 text-decoration:none;
 color: #8D0042;
 font-weight: bold;
  padding:6px 15px;
  margin:auto;
  margin-top:5px;
  background:#EDD693;
  -moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;
}
footer {
  /**position: fixed;**/
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px 0px 10px 0px;
  background: #8D0042;
  text-align: center;
}
footer a {
  
  color: #EDD693;
  border-radius: 1px solid #EDD693;
}

h2 {
    background:#EDD693;
  color: #8D0042;
  font-size:30px;
  
}
/* pantalla maximo 980px */
@media screen and (max-width:980px) {
  .container {
    width:90%;
  }
  section {
    width:68%;
  }
  
}
 
/* pantalla maximo 700px */
@media screen and (max-width:700px) {
  aside,section {
    float:none;
    width:96%;
    font-size:1.2em;
  }
  nav, section {
    font-size:1.2em;
  }
  aside {
    margin-top:5px;
    background:#333;
    color: #fff;
  }
  nav ul {
    float:none;
    clear:both;
  }
}

 
/* pantalla maximo 480px */
@media screen and (max-width:480px) {
  aside {
    display:block;
    background:#333;
    color: #fff;
    font-size:1.5em;
  }
  nav, section {
    font-size:1.5em;
  }
  section {
    width:94%;
  }
  nav ul {
    display: table;
    text-align: center;
    float: none;
    width:100%;
  }
  nav ul li {
    float:none;
  }   
  
 
/** CArga de estilos para iconos**/
#iconoGastro{
  width:100px;
  height:100px;
  font-size:0.5em;
  padding:0px;
}
}

#iconoMediaGastro{
  width:150px;
  height:150px;
  margin: auto;
  background: url(imagenes/iconoMediaGastro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  font-size:0.8em;
  padding:0px;
}

#iconoCsVids{
  width:150px;
  height:150px;
  margin: auto;
  background: url(imagenes/iconoCSV.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  font-size:0.8em;
  padding:0px;
}

#iconoCargarGastro{
  width:150px;
  height:150px;
  margin: auto;
  background: url(imagenes/iconoCargarGastro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  font-size:0.8em;
  padding:0px;
}
#iconoVerGastro{
  width:150px;
  height:150px;
  margin: auto;
  background: url(imagenes/iconoVerGastro.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  font-size:0.8em;
  padding:0px;
}
#iconoGastro{
  width:150px;
  height:150px;
  margin: auto;
  background: url(imagenes/iconoAlimento.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  font-size:0.8em;
  padding:0px;
}

#iconoConsulta{
  width:150px;
  height:150px;
  margin: auto;
  background: url(imagenes/iconoCorreo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  font-size:0.8em;
  padding:0px;
}

  .relojCalendario{
      height: auto;
      width: 200px;
      margin: auto;
      background-color: #000;
      color: rgb(0, 255, 0);
      text-align: center;
      font-family: console;
      font-size: 20px;
      border-radius: 30px;
      margin-top: 0.2%;
  }
/**Carga configuracionpara formulario**/

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}


label{
  display: block;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea {
width: 100%;
border-top: 1px solid #ccc;
border-left: 1px solid #ccc;
border-right: 1px solid #eee;
border-bottom: 1px solid #eee;
}
input[type=text],
input[type=email],
input[type=url],
input[type=password] {
width: 80%;
height:30px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=submit]:hover,
textarea:focus {
outline: 0;
border-color: #8D0042;
}

.form-select:focus{
  color: #8D0042;
}
.form-select{
  height: 45px;
  font-family: arial black;
  text-transform: uppercase;
  background-color:white;


}
input[type=text]{
  height: 30px;
}
@media (max-width: 600px) {

input[type=text],
input[type=email],
input[type=url],
input[type=password],
textarea,
select {
  width: 100%; 
}
}
@media (min-width: 1200px) {
form > div > label,
legend {
  display: block;
  text-align: left;
  width:100%;
}
}

#logomilho{
  height:50px;
  width:50px;
  float: left;
  background-image: url("imagenes/logomilho.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  text-align: center;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 10px;
  
}
.boton{
   
  color: #EDD693;
  background-color: #8D0042;
  height: 30px;
  width: 100px;
  text-transform: uppercase;
  font-family: ARIAL BLACK;
  font-size: bold;
  font-size: 0.8em;
  text-align: center;
  margin-left: 5px;
  margin-bottom:20px;
  display: inline;
  
}

#cajaCSV{
  height: 300px;
  width: 300px;
  display: inline-block;
}
#videos_cs{
  height: auto;
  width: auto;
text-align: center;
margin: auto;
}

#verRecetas{
  height: auto;
  width: 400px;
  text-align: left;
  font-family: Arial;
  font-size: 1.0em;
  background-color: white;
  
  margin: auto;
}
#verRecetas h4{
text-align: center;
text-transform: uppercase;
font-size: 1.2em;

}
#verRecetas h5{
  margin-left: 5px;
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 0.8em;
  
}
#verRecetas p{
  margin-left: 5px;
  margin-right: 5px;
  text-align: justify;

}

.recetario{
  height: auto;
  width: 100%;
  margin: auto;

  display: block;
}